@import "@scss/colors.scss";

.courses-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  height: 2000px;
  padding: 0 1.5rem 1.5rem;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  .courses-header {
    background-color: $color-bg;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 0rem 0 1.5rem 0;
    position: sticky;
    top: 1.5rem;
    z-index: 9;
    min-height: 70px;
    overflow: visible;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: $color-separator;
      transform: translateX(-1.5rem);
      width: calc(100% + 3rem);
      pointer-events: none;
      z-index: -1;
    }

    &__left {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      flex-shrink: 0;
    }

    &__right {
      margin-left: auto;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
    }
  }

  .search-bar {
    max-width: 400px;
  }
}
