:root {
  --font-h1: 1.5rem;
<<<<<<< HEAD
  --font-subtitle: 1.1rem;
=======
  --font-subtitle: 1.15rem;
>>>>>>> 02cb14a44c4011f6bf4f1af076bac03a97d08a8d
  --font-headline: 0.9rem;
  --font-body: 0.825rem;
  --font-small: 0.725rem;

  --line-h1: 1;
  --line-body: 1;
}

@media (max-width: 480px) {
  :root {
    --font-h1: 1.5rem;
    --font-subtitle: 1.4rem;
    --font-headline: 1rem;
    --font-body: 0.875rem;
    --font-small: 0.7rem;

    --line-h1: 1.15;
    --line-body: 1.25;
  }
}
