:root {
  --font-h1: 1.4rem;
  --font-subtitle: 1.25rem;
  --font-body: 0.825rem;
  --font-small: 0.725rem;

  --line-h1: 1.1;
  --line-body: 1.2;
}

@media (max-width: 480px) {
  :root {
    --font-h1: 1.5rem;
    --font-subtitle: 1.4rem;
    --font-body: 0.875rem;
    --font-small: 0.7rem;

    --line-h1: 1.15;
    --line-body: 1.25;
  }
}
