:root {
  --bg: #fefefe;
  --outline: #dedede;

  --primary-text: #101010;
  --secondary-text: #86868a;
  --destructive: #d93025;

  --sidebar-bg: #fafafb;
  --card: #f5f5f8;
  --transparent-hover: #f9f9fb;
  --primary-btn: #101010;
  --primary-hover-btn: #343434;
  --secondary-btn: #ebebf0;
  --secondary-hover-btn: #e0e0e3;
}

.dark {
  --bg: #111111;
  --outline: #202020;

  --primary-text: #ededed;
  --secondary-text: #626265;
  --destructive: #d93025;

  --sidebar-bg: #1a1a1a;
  --card: #141414;
  --transparent-hover: #19191a;
  --primary-btn: #ededed;
  --primary-hover-btn: #cccccc;
  --secondary-btn: #262626;
  --secondary-hover-btn: #3c3c3c;
  
}
