:root {
  --dots: #d1d5db;
  --dotted-bg: #f4f4f7;
  --bg: #fefefe;
  --outline: #e8e8e8;
  --secondary-outline: #eaecf0;
  --alpha-outline: #1010101e;

  --primary-text: #101010;
  --secondary-text: #86868a;
<<<<<<< HEAD
  --destructive-bg: #ffe0dd;
  --destructive: #df1642;
  --success-bg: #d6fae2;
  --success: #168c63;
=======
  --destructive: #d93025;
>>>>>>> 02cb14a44c4011f6bf4f1af076bac03a97d08a8d

  --sidebar-bg: #fafafb;
  --card: #f5f5f8;
  --transparent-hover: #f9f9fb;
  --primary-btn: #101010;
  --primary-hover-btn: #343434;
  --secondary-btn: #ebebf0;
  --secondary-hover-btn: #e0e0e3;
}

.dark {
<<<<<<< HEAD
  --dots: #222222;
  --dotted-bg: #151515;
  --bg: #111111;
  --outline: #202020;
  --secondary-outline: #242424;
  --alpha-outline: #fefefe1e;

  --primary-text: #ededed;
  --secondary-text: #626265;
  --destructive-bg: #23191b;
  --destructive: #e43259;
  --success-bg: #232d2b;
  --success: #3dae86;
=======
  --bg: #111111;
  --outline: #202020;

  --primary-text: #ededed;
  --secondary-text: #626265;
  --destructive: #d93025;
>>>>>>> 02cb14a44c4011f6bf4f1af076bac03a97d08a8d

  --sidebar-bg: #1a1a1a;
  --card: #141414;
  --transparent-hover: #19191a;
  --primary-btn: #ededed;
  --primary-hover-btn: #cccccc;
  --secondary-btn: #262626;
  --secondary-hover-btn: #3c3c3c;
  
}
