@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url("./assets/typefaces/Geist.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  @apply font-geist;
}

input, textarea {
  @apply text-body;
}