@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url("@app/resources/typefaces/Geist.ttf") format("truetype");
}

html {
  @apply font-geist antialiased;
  letter-spacing: -0.5px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

input,
textarea {
  @apply text-body antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.scroll-container {
  overflow-y: auto;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
