@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url("@app/resources/typefaces/Geist.ttf") format("truetype");
}

html {
  @apply font-geist;
  letter-spacing: -0.5px;
}

input,
textarea {
  @apply text-body;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
